.App {
  display: block;
  margin: 7px auto;
  width: 990px !important;
  text-align: center;
}

.logo-image {
  height: 52px;
  width: 355px;
}

.container {
  position: relative;
  text-align: center;
  color: black;
  padding: 0 !important;
  margin-bottom: 30px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.product-title {
  width: 100%;
  background-color: rgb(128,128,128, 0.5);
  color: white;
  font-weight: bold;
}

.product-price {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
  padding: 15px;
}

.hight-price {
  text-decoration: line-through;
  background-color: darkgray;
  color: white;
}

.low-price {
  font-weight: bold;
  background-color: black;
  color: white;
}
