.App {
  text-align: center;
}

.container {
  position: relative;
  text-align: center;
  color: black;
  padding: 0 !important;
  margin-bottom: 30px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.product-title {
  width: 100%;
  background-color: #dee2e6;
}

.product-price {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
  padding: 15px;
}


.hight-price {
  text-decoration: line-through;
  background-color: black;
  color: white;
}

.low-price {
  font-weight: bold;
  background-color: darkgray;
  color: white;
}
